<!DOCTYPE html>
{% load static%}
<html lang="en">
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="envDataSystem applications">
        
        <title>{% block title %}envDataSystem{% endblock title %}</title>

        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
        {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><style> {% endcomment %}
 
        <style>
            body {font-family: "Roboto", sans-serif}

            .footer {
                position: sticky;
                left: 0;
                bottom: 0;
                width: 100%;
            }
            .w3-sidebar {
                z-index: 3;
                width: 200px;
                top: 100px;
                bottom: 0;
                height: inherit;
            }
            {% comment %} .w3-bar-block .w3-bar-item { {% endcomment %}
                {% comment %} padding: 16px; {% endcomment %}
                {% comment %} font-weight: bold; {% endcomment %}
            {% comment %} } {% endcomment %}

        </style>
 
    </head>

    <body>

        <!-- Top -->
        <div class="w3-top">
            <div class="w3-bar w3-theme-l5">
                <div class="w3-third w3-bar-item">
                    <a style="text-decoration:none" href="https://github.com/NOAA-PMEL/envDataSystem">envDataSystem</a>
                </div>
                <div class="w3-third w3-right w3-bar-item">
                    {% if user.is_authenticated %}
                        <div class="w3-right"> {{ user.username }} <a class="w3-right" href="{% url 'logout' %}?next={{request.path}}"> (logout)</a></div>
                    {% else %}
                        <a style="text-decoration:none" class="w3-right" href="{% url 'login' %}?next={{request.path}}">login</a>
                    {% endif %}
                </div>
            </div>
            <div class="w3-bar w3-theme">
                <div class="w3-bar-item w3-left">
                    <a href="javascript:void(0)" class="w3-hide-large" onclick="w3_open()">
                        <i style="position:relative;left:10px" class="material-icons">menu</i>
                    </a>
                </div>
                <div class="w3-bar-item w3-left">
                    {% block navpath %}Home{% endblock navpath %}
                </div>
            </div>
        </div>

        {% comment %} <div class="w3-container w3-top">
            <div class="w3-cell-row w3-white w3-padding">
                <div class="w3-cell w3-third w3-margin-bottom w3-large">
                    <a style="text-decoration:none" href="https://github.com/NOAA-PMEL/envDataSystem">envDataSystem</a>
                </div>
                <div class="w3-cell w3-third w3-margin-bottom w3-large w3-right">
                    {% if user.is_authenticated %}
                        <a style="text-decoration:none" class="w3-right" href="{% url 'logout' %}?next={{request.path}}">{{ user.username}} (logout)</a>
                    {% else %}
                        <a style="text-decoration:none" class="w3-right" href="{% url 'login' %}?next={{request.path}}">Login</a>
                    {% endif %}
                </div>
            </div>
        </div> {% endcomment %}

        <!-- menu/path -->
        {% comment %} <div class="w3-bar w3-theme">
            <div class="w3-bar-item w3-left">
                <a href="javascript:void(0)" class="w3-button w3-hide-large w3-padding-small" onclick="w3_open()"><i class="material-icons">menu</i></a>
            </div>
            <p class="w3-left">
                {% block navpath %}Home{% endblock navpath %}
            </p>
        </div> {% endcomment %}
        {% comment %} </div> {% endcomment %}

        {% comment %} {% if user.is_authenticated %}
            {% comment %} <p style="float:right">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p> {% endcomment %}
           {% comment %} <a href="{% url 'logout' %}?next={{request.path}}" style="float:right">Logout</a>    </div>
        {% else %}
            <a href="{% url 'login' %}?next={{request.path}}" style="float:right">Login</a>    </div>
        {% endif %} {% endcomment %} 

        {% comment %} <div class="w3-theme"> {% endcomment %}
            {% comment %} <div class="w3-container"> {% endcomment %}
            <nav class="w3-sidebar w3-bar-block w3-bar-right w3-collapse w3-animate-left w3-left w3-border-right" id="menuBar">
            {% comment %} <nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-animate-left" id="menuBar"> {% endcomment %}
                {% comment %} <a class="w3-bar-item w3-button w3-hide-large w3-large" href="javascript:void(0)" onclick="w3_close()">Close<i style="position:relative;left:10px;vertical-align:middle;" class="material-icons">close</i></a> {% endcomment %}
                <a class="w3-right w3-hide-large w3-large" href="javascript:void(0)" onclick="w3_close()" title="Close">
                    <i style="position:relative;left:10px;vertical-align:middle;" class="material-icons">close</i>
                </a>
                <a class="w3-bar-item w3-button" href="/">Home</a>
                <a class="w3-bar-item w3-button" href="/envdaq">DAQ</a>
                <a class="w3-bar-item w3-button" href="#">Data Server</a>
                <a class="w3-bar-item w3-button" href="#">Projects</a>
                <a class="w3-bar-item w3-button" href="#">Sampling Systems</a>
                <a class="w3-bar-item w3-button" href="/envcontacts">Contacts</a>
                <a class="w3-bar-item w3-button" href="/envinventory">Inventory</a>
                <div>
                    <a class="w3-bar-item w3-button" onclick="menuAccordion('services')" href="javascript:void(0)">Services<i id="services-menu-icon" style="position:relative;left:10px;vertical-align:middle;" class="material-icons">expand_more</i></a>
                    <div id="services-menu" class="w3-hide">
                    <a style="text-indent:10px;" class="w3-bar-item w3-button" href="/envnet">Network</a>
                    <a style="text-indent:10px;" class="w3-bar-item w3-button" href="/envdaq">UI Servers</a>
                    <a style="text-indent:10px;" class="w3-bar-item w3-button" href="/envdaq">InstrumentInterfaces</a>
                    </div>
                </div>
                <a class="w3-bar-item w3-button" href="/admin">Admin</a>
            </nav>

            <div id="dataIntro" class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="menuOverlay"></div>

            <div class="w3-main" style="margin-left:200px;margin-top:75px" id="main-window">
                <div id="content-top" class="w3-container">
                    {% block content %} Main content goes here {% endblock content %}
                </div>
            </div>

        {% comment %} </div> {% endcomment %}
        {% comment %} </div> {% endcomment %}
        {% comment %} <div class="w3-main" style="margin-left:250px;"> {% endcomment %}

            {% comment %} <div id="dataTop" class="w3-container w3-top w3-theme"> {% endcomment %}
                {% comment %} <p> {% endcomment %}
                {% comment %} <i class="material-icons w3-button w3-hide-large w3-xlarge" onclick="w3_open()">menu</i> {% endcomment %}
                {% comment %} <span id="dataIntro" class="w3-hide">{% block header-intro %}ACG Datasets{% endblock header-intro %}</span> {% endcomment %}
                {% comment %} </p> {% endcomment %}
            {% comment %} </div> {% endcomment %}

            {% comment %} <header class="w3-container w3-theme" style="padding:50px 20px">
                <h2>
                {% block header %}
                ACG Datasets
                {% endblock header %}
                </h2>

                {% block subheader %}
                <p><i>create and maintain project datasets</p>
                {% endblock subheader %}
            </header>

            <div class="w3-container w3-margin">
            {% block content %}
            Content goes here
            {% endblock content %}
            </div>
            
        </div> {% endcomment %}

        <script type="text/javascript">

            function w3_open() {
            document.getElementById("menuBar").style.display = "block";
            document.getElementById("menuOverlay").style.display = "block";
            }

            function w3_close() {
            document.getElementById("menuBar").style.display = "none";
            document.getElementById("menuOverlay").style.display = "none";
            }

            // Change style of top container on scroll
            window.onscroll = function() {myFunction()};
            function myFunction() {
            if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                document.getElementById("dataTop").classList.add("w3-card-4", "w3-animate-opacity");
                document.getElementById("dataIntro").classList.add("w3-show-inline-block");
            } else {
                document.getElementById("dataIntro").classList.remove("w3-show-inline-block");
                document.getElementById("dataTop").classList.remove("w3-card-4", "w3-animate-opacity");
            }
            }

            // Accordions
            function menuAccordion(id) {
                var menu = document.getElementById(id+'-menu');
                var icon = document.getElementById(id+"-icon");
                // console.log(menu, icon, id)
                if (menu.className.indexOf("w3-show") == -1) {
                    menu.className += " w3-show";
                    icon.innerText = "expand_less"
                } else { 
                    menu.className = menu.className.replace("w3-show", "");
                    icon.innerText = "expand_more"
                }
            }

            function myAccordion(id) {
                var x = document.getElementById('accordion-'+id);
                var bi = document.getElementById('button-icon-'+id);
                // console.log(x, id)
                if (x.className.indexOf("w3-show") == -1) {
                    x.className += " w3-show";
                    bi.innerText = "expand_less"
                } else { 
                    x.className = x.className.replace("w3-show", "");
                    bi.innerText = "expand_more"
                }
            }
        
        </script>
    </body>
</html>