* {
    box-sizing: border-box;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    background: white;
    /* background: #d8d8d8; */
  }
  
  /* Header/Blog Title */
  .header {
    padding: 10px;
    text-align: left;
    background: white;
  }
  
  .header h1 {
    font-size: 20px;
  }

  .header h2 {
    font-size: 14px;
    font-style: italic;
  }

  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #333;
    border-radius: 5px;
    width: 100%;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
 
 /* Style the top navigation bar */
 .leftnav {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: rgb(167, 166, 166);
  width: 200px;
  /* background-color: #333; */
  height: 100%;
  overflow: auto;
  position: absolute;
}

/* Style the topnav links */
.leftnav a {
  /* float: left; */
  display: block;
  /* color: #f2f2f2; */
  /* text-align: center; */
  padding-left: 10px;
  padding-top: 5px;
  text-decoration: none;
}

/* Change color on hover */
.leftnav a:hover {
  background-color: #ddd;
  color: black;
}
 
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 50%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 50%;
    /* background-color: #f1f1f1; */
    padding-left: 10px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for sections */
  .card {
    /* background-color: white; */
    background-color: white;
    padding: 20px;
    margin: 5px;
    margin-top: 20px;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-width: 2px;
    border-color: rgb(167, 166, 166);
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* rawdata */
  .rawdata {
    padding: 2px;
    text-align: left;
    background: #ddd;
    margin-top: 2px;
    margin-left: 200px;
  }

  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }

  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    /* background-color: white; */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  
  .iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
  }
   
  .iframe-container iframe {
     border: 0;
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
  }

  .opsbutton-container {
    width: 100%;
    align-content: center;
  }
  .opsbutton {
    margin-top: 5px;
    height: 30px;
    width: 80px;
    border-radius: 5px;
  }

  .started {
    color: red;
  }

  .stopped {
    color: green;
  }

  /* Add a card effect for sections */
  .status-box {
    /* background-color: white; */
    background-color: white;
    padding: 20px;
    margin: 5px;
    margin-top: 20px;
    border: solid;
    /* border-radius: 5px; */
    border-width: 1px;
    border-color: black;
    width: 100%; 
  }

  .daq-table {
    border-collapse: collapse;
    /* border-radius: 5px; */
    overflow: hidden;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2
  }