{% extends 'envdaq/envdaq_base.html' %}

{% block title%}envDataSystem Controller{% endblock title%}

{% block navpath%}
    <div id="controller-navpath">
    </div>
    {% comment %} Home / DAQ Server / {{daq_namespace}} {% endcomment %}
{% endblock navpath %}

{% comment %} {% block header %}
    <h1>envDSys : Controller : {{ controller_label|cut:'"' }}</h1>
{% endblock %} {% endcomment %}

{% block data %}
    <div id="cont-data-table-div" class="w3-container w3-card w3-round w3-margin-top" style="padding:10px">
        <div class="w3-bar w3-center">
            <h6>Data</h6>
        </div>
    </div>
{% endblock %}

{% block controls %}
    <div id="cont-controls-table-div" class="w3-container w3-card w3-round w3-margin-top" style="padding:10px">
        <div class="w3-bar w3-center">
            <h6>Controls &amp Settings</h6>
        </div>
    </div>
{% endblock %}

{% block status %}
    <div class="w3-container w3-card w3-round w3-margin-top" style="padding:10px">
    {% comment %} <textarea readonly class="status-box" id="status-window" cols="60" rows="5"></textarea><br/> {% endcomment %}
    <p><em>Status</em></p>
    <textarea readonly class="w3-round" id="status-window" style="width:100%" rows="5"></textarea><br/>
    <button id="refresh-status-button" class="w3-button w3-round w3-border" value="Refresh" onclick=request_status()>Refresh</button>
    </div>
{% endblock %}

{% block plots %}
    {% for app in plot_scripts %}
    {% comment %} {{ plot_scripts }} {% endcomment %}
        <div class="w3-container w3-card w3-round w3-margin-top" style="padding:10px">
            {% comment %} {{ plot_script | safe }} {% endcomment %}
            {{ app | safe }}
            {% comment %} <div class="iframe-container">
                <div id=plot_container>    
                    
                </div>
            </div> {% endcomment %}
        </div>
    {% endfor %}
{% endblock %}

{% block extracontent %}


{% comment %} {% block status %}
    <div class="card">
        <textarea readonly class="status-box" id="status-window" cols="60" rows="5"></textarea><br/>
        <button id="refresh-status-button" class="opsbutton" value="Refresh" onclick=reqest_status()>Refresh</button>
    </div>
{% endblock %}

{% block data %}
    <div class="card">
        <b><p id="time-stamp"></p></b><br/>
        <div id="meas-table">

        </div>
    </div>
{% endblock %}

{% block plots %}
    {% for app in plot_scripts %}
        <div class="card">
            {{ app | safe }}
        </div>
    {% endfor %}
{% endblock %}

{% block controls %}
    <div class="card">
        <div id="controls-table"></div>
        <div class="opsbutton-container">
            <input type="button" id="start-stop-button" value="Start" class="opsbutton stopped" onclick=opsButtonRequest(this)>
        </div>
    </div>
{% endblock %}

{% block rawdata %}
{% endblock %}


{% block content %} {% endcomment %}

<style>
    #data-table #control-table{
        {% comment %} width: 100%; {% endcomment %}
        -webkit-overflow-scrolling: touch;
        overflow-x: auto;
        display: block;
        {% comment %} table-layout: fixed; {% endcomment %}
    }
        {% comment %} #data-table-namecol {
        width=200px;
    }
        #data-table-valuecol {
        width=200px;
    } {% endcomment %}

</style>                                                                                                                                                                     

<script>

    var daq_host = "{{ daq_host }}"
    var parent_namespace = "{{ parent_namespace }}"
    var controller_namespace = "{{ controller_namespace }}"

    window.onload=init;

    var wait_for_setup = true;

    var measurements_json = {{ controller_measurements }}
    var measurements = JSON.parse("{{ controller_measurements | escapejs }}")
    // console.log(measurements)

    function init() {
        
        //setup_accordions()
        build_path()
        console.log('building table')
        build_data_table()
        console.log('table built')
        build_controls_table()
        //reqest_status()
        wait_for_setup = false
        console.log(wait_for_setup)
        //reqest_status()
    }

    function build_path() {
        console.log(window.location.host)
        var home = "http://"+window.location.host+"/"
        home = "/"
        var daq = home + "envdaq/"
        var server = daq + "daqserver/" + daq_host + "/" + parent_namespace +"/"

        var path = '<a href='+home+' style="text-decoration: none">Home</a> / '
        path += '<a href='+daq+' style="text-decoration: none">DAQ</a> / '
        path += 'DAQInstrument / ' + daq_host + " / " + parent_namespace + "/" + controller_namespace
        //path += '<a href='+server+' style="text-decoration: none">'+daq_namespace+'</a>'
        var navpath = document.getElementById("controller-navpath")
        navpath.innerHTML = path
        //navpath.appendChild(text)
        //console.log(navpath)
    };

    function build_data_table() {
        // var tablediv = document.getElementById('meas-table')[0];
        // var tablediv = document.getElementById('meas-table');
        var tablediv = document.getElementById('cont-data-table-div');

        var ts_box = document.createElement("div")
        ts_box.setAttribute("class", "w3-container") 

        var ts = document.createElement('text')
        ts.setAttribute("id", "time-stamp")
        //ts.style.fontWeight = "bold"

        var ts_text = document.createElement("label")
        ts_text.setAttribute("for", "ts")
        ts_text.appendChild(document.createTextNode("Timestamp: "))
        //ts_text.style.fontWeight = "bold"

        ts_box.appendChild(ts_text)
        ts_box.appendChild(ts)
        tablediv.appendChild(ts_box)

        
        var table = document.createElement('table');
        table.setAttribute('id', 'data-table');
        table.setAttribute('class', 'w3-table-all')
        // table.setAttribute('class', 'daq-table')
        //table.setAttribute('style', 'border-collapse: collapse; border-radius: 10px; overflow: hidden')

        // var caption = table.createCaption()
        // caption.innerHTML = "<em>Data</em>"

        var header = table.createTHead();
        var row = header.insertRow(0);
        // row.setAttribute('style', 'border: 1px solid black')
        var cell = row.insertCell(0);
        cell.setAttribute("class", "w3-center")
        //cell.setAttribute('id', 'data-table-namecol');
        //cell.setAttribute('style', 'border: 1px solid black; text-align: center;')
        cell.innerHTML = "<b>Name</b>";
        cell = row.insertCell(1);
        cell.setAttribute("class", "w3-center")
        //cell.setAttribute('style', 'border: 1px solid black; text-align: center;')
        cell.innerHTML = "<b>Value</b>";
        //cell.setAttribute('id', 'data-table-valuecol');
        cell.innerHTML = "Value"
        cell = row.insertCell(2);
        cell.setAttribute("class", "w3-center")
        //cell.setAttribute('style', 'border: 1px solid black; text-align: center;')
        cell.innerHTML = "<b>Units</b>";
        //cell.setAttribute('id', 'data-table-unitcol');

        // console.log(measurements)
        for (var component_type in measurements) {
            if (component_type != "controls") {
                comp_inst_list = measurements[component_type]
                for (var instrument in comp_inst_list) {
                    inst = comp_inst_list[instrument]
                    inst_alias = inst['alias']
                    inst_meas_meta = inst['measurement_meta']
                    for (var meas_type in inst_meas_meta) {
                        if (meas_type != 'controls') {
                            mtype = inst_meas_meta[meas_type]
                            for (var meas_name in mtype) {
                                meas = mtype[meas_name]
                                // console.log(meas)
                                dims = meas['dimensions']['axes']
                                if (meas['dimensions']['axes'].length > 1) {
                                    continue
                                }
                                var name = meas_name
                                if (inst_alias['prefix'].length >0) {
                                    name = inst_alias['prefix'] + "_" + meas_name
                                }
                                cell_name = name.replace(/_/g, '-')
                                row = table.insertRow(-1);
                                cell = row.insertCell(0);
                                cell.setAttribute('id', (cell_name+'-name'));
                                cell.setAttribute("class", "w3-center")
                                //cell.setAttribute('style', 'border: 1px solid black; padding: 2px; text-align: center')
                                cell.innerHTML = name
                                cell = row.insertCell(1);
                                cell.setAttribute("class", "w3-center")
                                cell.setAttribute('id', (cell_name+'-value'));
                                //cell.setAttribute('style', 'border: 1px solid black; padding: 2px; text-align: center');
                                cell.innerHTML = '';         
                                cell = row.insertCell(2);
                                cell.setAttribute("class", "w3-center")           
                                cell.setAttribute('id', (cell_name+'-units'));
                                //cell.setAttribute('style', 'border: 1px solid black; padding: 2px; text-align: center');
                                cell.innerHTML = meas['units']                    
                            }
                        }
                    }
                }
            }
        }
        var td = table.rows[0].cells[0];
        td.width = '200px';
        td = table.rows[0].cells[1];
        td.width = '200px';
        td = table.rows[0].cells[2];
        td.width = '100px';
           
        tablediv.appendChild(table);
    }

    function build_controls_table() {
        // var measurements = JSON.parse('{{ instrument_measurements | escapejs }}')
        // var tablediv = document.getElementById('meas-table')[0];
        // var tablediv = document.getElementById('controls-table');
        var tablediv = document.getElementById('cont-controls-table-div');
        
        var ops_container = document.createElement("div")
        ops_container.setAttribute("class", "w3-container w3-border w3-padding")
        var ops_button = document.createElement("button")
        ops_button.setAttribute("id", "start-stop-button")
        ops_button.setAttribute("class", "w3-button w3-round w3-border w3-cell")
        //ops_button.setAttribute("value", "Start")
        ops_button.setAttribute("onclick", "opsButtonRequest()")
        ops_button.value = "Start"
        ops_button.innerText = "Start"
        //ops_container.appendChild(ops_button)

        var button_text = document.createElement("label")
        //button_text.setAttribute("class", "w3-padding")
        button_text.setAttribute("for", "ops_button")
        button_text.appendChild(document.createTextNode("Controller Control: "))
        //button_text.innerText = "Instrument Control: "
        ops_container.appendChild(button_text)
        ops_container.appendChild(ops_button)

        tablediv.appendChild(ops_container)
    }
    
    // websocket communication

    var controller_name = {{ controller_name }}

    //var daq_namespace = {{ daq_namespace }}

  // console.log(controller_name)
    var websocket = new WebSocket(
        'ws://' + window.location.host +
        // '/ws/envdaq/controller/'+controller_name+'/');
        // '/ws/envdaq/'+daq_namespace+'/controller/'+controller_namespace+'/');
        '/ws/envdaq/'+daq_host+"/"+parent_namespace+'/controller/'+controller_namespace+'/');


    websocket.onmessage = function(e) {
        var data = JSON.parse(e.data)
        // console.log(data)
        // document.getElementById('data-window').innerHTML = data
        if (data['message']['SUBJECT'] == 'DATA') {
            // console.log(data)    

            var message = data['message']['BODY']['DATA'];
            var prefix = data['message']['BODY']['alias']['prefix'];
            
            //document.querySelector('#data-window').value = (JSON.stringify(data['message']['BODY']['DATA']) + '\n');

            // do time-stamp if there is data we want?
            document.querySelector('#time-stamp').innerHTML =  (message['DATETIME'].replace(/T|Z/g, " "));

            var cell_value = ''
            for (var meas in message['MEASUREMENTS']) {
                if (message['MEASUREMENTS'][meas]['VALUE'] == null) {
                    //cell_value = ''
                    continue
                    // cell_value = message['MEASUREMENTS'][meas]['VALUE'];
                }
                // console.log(meas);
                // console.log(message['MEASUREMENTS'][meas]['VALUE'])
                if (message['MEASUREMENTS'][meas]['VALUE'].constructor === Array) {
                    continue
                }
                //cell_id = "#"+meas+"-value"
                cell_id = (prefix+"-"+meas+"-value").replace(/_/g, "-")
                //document.querySelector(cell_id).innerHTML = message['MEASUREMENTS'][meas]['VALUE'];
                //document.getElementById(cell_id).innerHTML = message['MEASUREMENTS'][meas]['VALUE'];
                var val_cell = document.getElementById(cell_id)
                //console.log(cell_id)
                //console.log(message['MEASUREMENTS'][meas]['VALUE'])
                if (val_cell) {
                    val_cell.innerHTML = message['MEASUREMENTS'][meas]['VALUE'];
                }
                // document.getElementById(cell_id).innerHTML = cell_value;
            }
         } else if (data['message']['SUBJECT'] == 'STATUS') {

            if (data.message.BODY.purpose == 'UPDATE') {
                {% comment %} console.log(JSON.stringify(data.message.BODY.status)) {% endcomment %}
                var status = data.message.BODY.status
                update_status(status)
            }
        }
    }

    websocket.onopen = function(event) {
        console.log('Connected to: ' + event.currentTarget.url)
//        while (wait_for_setup) {
//            console.log('waiting for setup: '+wait_for_setup)
//        }
        request_status()
        console.log('request_status')
        //reqest_status()
    }

    function request_status() {

        var message = {}
        message['SUBJECT'] = 'STATUS'
        message['BODY'] = {
            'purpose': 'REQUEST',
        }
        console.log(JSON.stringify(message))
        websocket.send(
            JSON.stringify({'message': message})
        )

    };

    function update_status(status) {
        console.log(status)
        runstate = status.run_status
        opsButtonSet(runstate)
        document.getElementById("status-window").value = JSON.stringify(status)
        //document.getElementById("status-window").innerHTML = JSON.stringify(status)
    };

    function opsButtonRequest(obj) {
        button = document.getElementById('start-stop-button')
        var req = "STOP"
        if (button.value == "Start") {
            req = "START"
        } 

        var message = {}
        message['SUBJECT'] = 'RUNCONTROLS'
        message['BODY'] = {
            'purpose': 'REQUEST',
            'control': 'start_stop',
            'value': req,
        }

        websocket.send(
            JSON.stringify({'message': message})
        )

    }

    function opsButtonSet(runstate) {
        button = document.getElementById('start-stop-button')

        //var class_val = 'opsbutton started'
        var value = "Stop"

        if (runstate == "STOPPED" || runstate == "READY_TO_RUN") {
            //class_val = 'opsbutton stopped'
            value = "Start"
        }
        button.value = value
        button.innerText = value
        //button.className = class_val
    }

</script>

{% endblock %}