{% extends "envdaq/envdaq_base.html" %}
{% load static%}

{% block title%}envDataSystem DAQ{% endblock title%}

{% block navpath%}Home / DAQ{% endblock navpath%}

{% block content %}

    <div class="w3-container w3-card w3-round w3-margin-top" style="padding:10px">
            {% comment %} <button type="button" onclick="myAccordion('networks')" class="w3-btn w3-round w3-margin-bottom w3-margin-top w3-block w3-theme w3-left-align">
                <div class="w3-left"><b>Networks</b></div>
                <div class="w3-right"><i id='button-icon-networks' class="material-icons">expand_more</i></div>
            </button>            

            <div id="accordion-networks" class="w3-container w3-hide"> {% endcomment %}

                <h5>DAQ Servers</h5>
                <table class="w3-table w3-bordered">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Active</th>
                    </tr>
                    {% for key, values in daq_server_map.items %}
                    <tr>
                        <td>{{ key }}</td>
                        {% for k,v in values.items %}
                            <td>{{v}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            {% comment %} </div> {% endcomment %}
    </div>

{% endblock content %}

