{% extends 'envdaq/base.html' %}

    {% block header %}
        <h1>envDSys : Instrument : {{ instrument_label|cut:'"' }}</h1>
        <h2>({{ instrument_instance|cut:'"' }})</h2>
    {% endblock %}


    {% comment %} <div class="status"></div> {% endcomment %}

    {% block data %}
        <div class="card">
        <b><p id="time-stamp"></p></b><br/>
        <div id="meas-table">

            {% comment %} <script>build_data_table()</script> {% endcomment %}
        </div>
        </div>
    {% endblock %}


    {% block plots %}
        {{ plot_script | safe }}
        {% comment %} <div class=card> {% endcomment %}
            {% comment %} <div class="iframe-container">
                <div id=plot_container>    
                    
                </div>
            </div> {% endcomment %}
        {% comment %} </div> {% endcomment %}
    {% endblock %}
    
    <div class="controls"></div>

    {% block rawdata %}
        <button class="accordion"><em>Raw data from server</em></button>
        <div class="panel">
            <textarea id="metadata-window" cols="100" rows="5"></textarea>
            <textarea id="data-window" cols="100" rows="10"></textarea>
        </div>
    {% endblock %}

    <div class="children"></div>

{% block content %}

    

    {% comment %} <h2>Instrument:{{ instrument_name_json|cut:'"' }}:{{ instrument_label_json|cut:'"' }}</h2> {% endcomment %}
    <style>
    #data-table {
        {% comment %} width: 100%; {% endcomment %}
         -webkit-overflow-scrolling: touch;
        overflow-x: auto;
        display: block;
        {% comment %} table-layout: fixed; {% endcomment %}
    }
     {% comment %} #data-table-namecol {
        width=200px;
    }
     #data-table-valuecol {
        width=200px;
    } {% endcomment %}

    </style>                                                                                                                                                                     
    
 
    {% comment %} <button class="accordion"><em>Raw data from server</em></button>
    <div class="panel">
        <textarea id="metadata-window" cols="100" rows="5"></textarea>
        <textarea id="data-window" cols="100" rows="10"></textarea>
    </div> {% endcomment %}
    {% comment %} <button class="accordion">Data from server</button>
    <div class="panel">
        <textarea id="data-window" cols="100" rows="10"></textarea>
   </div> {% endcomment %}

    {% comment %} Metadata from server:<br/>
    <textarea id="metadata-window" cols="100" rows="5"></textarea><br/> {% endcomment %}

    {% comment %} Data from server:<br/>
    <textarea id="data-window" cols="100" rows="10"></textarea><br/> {% endcomment %}

    {% comment %} <input id="inst-name-input" type="text" size="100"/><br/> {% endcomment %}
    {% comment %} <input id="inst-name-submit" type="button" value="Enter"/> {% endcomment %}
    {% comment %} <input id="req-meta-button" type="button" value="Get Meta"/> {% endcomment %}

    {% comment %} <b><p id="time-stamp"></p></b><br/> {% endcomment %}
    {% comment %} <textarea>{{ cellvalue }}</textarea> {% endcomment %}
    {% comment %} <table id="data-table">

    </table> {% endcomment %}
    <script>
        
        window.onload=init;

        var cellvalue = '1234.5';
        var meas_prefix = {{ instrument_prefix }}
        var measurements_json = {{ instrument_measurements }}
        var measurements = JSON.parse("{{ instrument_measurements | escapejs }}")

        var plot_app = JSON.parse("{{ plot_app | escapejs }}")
        var name = plot_app['name']
        var plots = document.getElementById('plot_container')
        url = "http://"+plot_app['host']+":"+plot_app['port']+plot_app['name']
        {% comment %} url = "http://test_this_out" {% endcomment %}
        {% comment %} url = plot_app['name'] {% endcomment %}
        {% comment %} plots.innerHTML = '<p>'+url+'</p>' {% endcomment %}
        {% comment %} url = 'http://localhost:5001/instrument_test_dummy' {% endcomment %}
        {% comment %} plots.innerHTML = '<iframe src='+url+' allowfullscreen></iframe>'  {% endcomment %}
        

        {% comment %} define accordions {% endcomment %}
        {% comment %} var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight){
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                } 
            });
        } {% endcomment %}
        

        function init() {
            {% comment %} alert("loaded"); {% endcomment %}

            {% comment %} build_table() {% endcomment %}

            {% comment %} {{ instrument_label_json }} {% endcomment %}
            setup_accordions()
            build_data_table()

        }

        function build_data_table() {
            {% comment %} var measurements = JSON.parse('{{ instrument_measurements | escapejs }}') {% endcomment %}
            {% comment %} var tablediv = document.getElementById('meas-table')[0]; {% endcomment %}
            var tablediv = document.getElementById('meas-table');
            
            var table = document.createElement('table');
            table.setAttribute('id', 'data-table');
            table.setAttribute('style', 'border-collapse: collapse;')

            var header = table.createTHead();
            var row = header.insertRow(0);
            row.setAttribute('style', 'border: 1px solid black')
            var cell = row.insertCell(0);
            cell.setAttribute('id', 'data-table-namecol');
            cell.setAttribute('style', 'border: 1px solid black; text-align: center;')
            cell.innerHTML = "<b>Name</b>";
            cell = row.insertCell(1);
            cell.setAttribute('style', 'border: 1px solid black; text-align: center;')
            cell.innerHTML = "<b>Value</b>";
            cell.setAttribute('id', 'data-table-valuecol');
            cell.innerHTML = "Value"
            cell = row.insertCell(2);
            cell.setAttribute('style', 'border: 1px solid black; text-align: center;')
            cell.innerHTML = "<b>Units</b>";
            cell.setAttribute('id', 'data-table-unitcol');

            for (var meastype in measurements) {
                if (meastype != "controls") {
                    mtype = measurements[meastype]
                    for (var meas in mtype) {
                        var name = meas
                        if (meas_prefix) {
                            name = meas_prefix + "_" + meas
                        }
                        row = table.insertRow(-1);
                        cell = row.insertCell(0);
                        cell.setAttribute('id', (meas+'-name'));
                        cell.setAttribute('style', 'border: 1px solid black; padding: 2px; text-align: center')
                        cell.innerHTML = name
                        cell = row.insertCell(1);
                        cell.setAttribute('id', (meas+'-value'));
                        cell.setAttribute('style', 'border: 1px solid black; padding: 2px; text-align: center');
                        cell.innerHTML = '';         
                        cell = row.insertCell(2);           
                        cell.setAttribute('id', (meas+'-units'));
                        cell.setAttribute('style', 'border: 1px solid black; padding: 2px; text-align: center');
                        cell.innerHTML = mtype[meas]['units']                    
                    }
                }
            }
            var td = table.rows[0].cells[0];
            td.width = '200px';
            td = table.rows[0].cells[1];
            td.width = '200px';
            td = table.rows[0].cells[2];
            td.width = '100px';
           
            tablediv.appendChild(table);
            

        }


        {% comment %} function build_table() {

            
            var body = document.getElementsByTagName('body')[0];

            var table = document.createElement('table');
            table.setAttribute('id', 'data-table');
            table.setAttribute('style', 'border-collapse: collapse;')
            var header = table.createTHead();
            var row = header.insertRow(0);
            row.setAttribute('style', 'border: 1px solid black')
            var cell = row.insertCell(0);
            cell.setAttribute('id', 'data-table-namecol');
            cell.setAttribute('style', 'border: 1px solid black; text-align: center;')
            cell.innerHTML = "<b>Name</b>";
            cell = row.insertCell(1);
            cell.setAttribute('style', 'border: 1px solid black; text-align: center;')
            cell.innerHTML = "<b>Value</b>";
            cell.setAttribute('id', 'data-table-valuecol');

            row = table.insertRow(1);
            cell = row.insertCell(0);
            cell.setAttribute('id', 'cell0');
            cell.setAttribute('style', 'border: 1px solid black; padding: 2px; text-align: center')
            cell.innerHTML = "Concentration";
            cell = row.insertCell(1);
            cell.setAttribute('id', 'cell1');
            cell.setAttribute('style', 'border: 1px solid black; padding: 2px; text-align: center');
            cell.innerHTML = '';

            var td = table.rows[0].cells[0];
            td.width = '200px';
            td = table.rows[0].cells[1];
            td.width = '200px';
           
            body.appendChild(table);
        }; {% endcomment %}

        var instrument_name = {{ instrument_name }}
        var chatSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/envdaq/instrument/'+instrument_name+'/');

        chatSocket.onmessage = function(e) {

            // {% comment %} if (document.querySelector('#data-table') == null) { {% endcomment %}
            // {% comment %} if (document.getElementById('data-data-table') == null) {
            //    build_data_table();
            // }; {% endcomment %}

            var data = JSON.parse(e.data);
            if (data['message']['SUBJECT'] == 'DATA') {

                if ("METADATA" in data['message']['BODY']) {
                    var message = data['message']['BODY']['METADATA'];
                    document.querySelector('#metadata-window').value = (JSON.stringify(data['message']['BODY']['METADATA']) + '\n');
                };
                if ('DATA' in data['message']['BODY']) {
                    var message = data['message']['BODY']['DATA'];
                    document.querySelector('#data-window').value = (JSON.stringify(data['message']['BODY']['DATA']) + '\n');

                    document.querySelector('#time-stamp').innerHTML =  (message['DATETIME']);
                    for (var meas in message['MEASUREMENTS']) {
                        //console.log(meas);
                        //cell_id = "#"+meas+"-value"
                        cell_id = meas+"-value"
                        //document.querySelector(cell_id).innerHTML = message['MEASUREMENTS'][meas]['VALUE'];
                        document.getElementById(cell_id).innerHTML = message['MEASUREMENTS'][meas]['VALUE'];
                    }
                    // cell2 = 'cell1';
                    // cell_id = '#'+cell2;
                    // document.querySelector(cell_id).innerHTML = message['MEASUREMENTS']['concentration']['VALUE']; 
                };

                // {% comment %} document.querySelector('#msg-window').value = (JSON.stringify(data['message']) + '\n'); {% endcomment %}
                // {% comment %} document.querySelector('#msg-window').value = (e.data + '\n'); {% endcomment %}
            };
        };

 
        {% comment %} document.querySelector('#inst-name-input').focus();
        document.querySelector('#inst-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#inst-name-submit').click();
            }
        };

        document.querySelector('#inst-name-submit').onclick = function(e) {
            var instName = document.querySelector('#inst-name-input').value;
            window.location.pathname = '/envdaq/' + instName + '/';
        }; {% endcomment %}

        {% comment %} document.querySelector('#req-meta-button').onclick = function(e) {
            var message = {
                'TYPE': 'DISPLAY',
                'SUBJECT': 'REQUEST',
                'BODY': 'SEND_METATDATA'
                };
            chatSocket.send(JSON.stringify({
            'message': message
            }));

        }; {% endcomment %}

    </script>

{% endblock %}