{% extends 'envdaq/envdaq_base.html' %}

{% comment %} {% block header %}
    <h1>envDSys : Instrument : {{ instrument_label|cut:'"' }}</h1>
    <h2>({{ instrument_instance|cut:'"' }})</h2>
{% endblock %} {% endcomment %}

{% block title%}envDataSystem Instrument{% endblock title%}

{% block navpath%}
    <div id="instrument-navpath">
    </div>
    {% comment %} Home / DAQ Server / {{daq_namespace}} {% endcomment %}
{% endblock navpath %}

{% block data %}
    <div id="inst-data-table-div" class="w3-container w3-card w3-round w3-margin-top" style="padding:10px">
    </div>
{% endblock %}

{% block controls %}
    <div id="inst-controls-table-div" class="w3-container w3-card w3-round w3-margin-top" style="padding:10px">
    </div>
{% endblock %}

{% block status %}
    <div class="w3-container w3-card w3-round w3-margin-top" style="padding:10px">
    {% comment %} <textarea readonly class="status-box" id="status-window" cols="60" rows="5"></textarea><br/> {% endcomment %}
    <p><em>Status</em></p>
    <textarea readonly class="w3-round" id="status-window" style="width:100%" rows="5"></textarea><br/>
    <button id="refresh-status-button" class="w3-button w3-round w3-border" value="Refresh" onclick=request_status()>Refresh</button>
    </div>
{% endblock %}

{% comment %} {% block data %}
    <div class="card">
    <b><p id="time-stamp"></p></b><br/>
    <div id="meas-table">

    </div>
    </div>
{% endblock %} {% endcomment %}


{% block plots %}
    {% for app in plot_scripts %}
    {% comment %} {{ plot_scripts }} {% endcomment %}
        <div class="w3-container w3-card w3-round w3-margin-top" style="padding:10px">
            {% comment %} {{ plot_script | safe }} {% endcomment %}
            {{ app | safe }}
            {% comment %} <div class="iframe-container">
                <div id=plot_container>    
                    
                </div>
            </div> {% endcomment %}
        </div>
    {% endfor %}
{% endblock %}


{% block rawdata %}
    <div id="inst-rawdata-table-div" class="w3-container w3-card w3-round w3-margin-top" style="padding:10px">
    </div>
{% endblock rawdata %}


{% comment %} <label for="input_temperature_sp">Input Temperature SP</label> {% endcomment %}
{% comment %} <input id="input_temperature_sp" type="number" name="input_temperature_sp" min="10.0" max="30.0" value="25.0"> {% endcomment %}
{% comment %} <input id"input_temperature_sp_set" type="button" value="Set"> {% endcomment %}
{% comment %} <div id="run-control> {% endcomment %}
{% comment %} </div> {% endcomment %}


{% comment %} {% block controls %}
    <div class="card">
            <div class="opsbutton-container">
                <input type="button" id="start-stop-button" value="Start" class="opsbutton stopped" onclick=opsButtonRequest(this)>
            </div>
        <div id="controls-table"></div>
    </div>
{% endblock %} {% endcomment %}
{% block extracontent %}

{% comment %} {% block rawdata %}
    <button class="accordion"><em>Raw data from server</em></button>
    <div class="panel">
        <textarea readonly class="status-box" id="metadata-window" cols="10" rows="10"></textarea>
        <textarea readonly class="status-box" id="data-window" cols="10" rows="10"></textarea>
    </div>
{% endblock %} {% endcomment %}

<div class="children"></div>

{% comment %} {% block content %} {% endcomment %}
    

    {% comment %} <h2>Instrument:{{ instrument_name_json|cut:'"' }}:{{ instrument_label_json|cut:'"' }}</h2> {% endcomment %}
<style>
#data-table #control-table{
    {% comment %} width: 100%; {% endcomment %}
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    display: block;
    {% comment %} table-layout: fixed; {% endcomment %}
}
    {% comment %} #data-table-namecol {
    width=200px;
}
    #data-table-valuecol {
    width=200px;
} {% endcomment %}

</style>                                                                                                                                                                     
    
 
    {% comment %} <button class="accordion"><em>Raw data from server</em></button>
    <div class="panel">
        <textarea id="metadata-window" cols="100" rows="5"></textarea>
        <textarea id="data-window" cols="100" rows="10"></textarea>
    </div> {% endcomment %}
    {% comment %} <button class="accordion">Data from server</button>
    <div class="panel">
        <textarea id="data-window" cols="100" rows="10"></textarea>
   </div> {% endcomment %}

    {% comment %} Metadata from server:<br/>
    <textarea id="metadata-window" cols="100" rows="5"></textarea><br/> {% endcomment %}

    {% comment %} Data from server:<br/>
    <textarea id="data-window" cols="100" rows="10"></textarea><br/> {% endcomment %}

    {% comment %} <input id="inst-name-input" type="text" size="100"/><br/> {% endcomment %}
    {% comment %} <input id="inst-name-submit" type="button" value="Enter"/> {% endcomment %}
    {% comment %} <input id="req-meta-button" type="button" value="Get Meta"/> {% endcomment %}

    {% comment %} <b><p id="time-stamp"></p></b><br/> {% endcomment %}
    {% comment %} <textarea>{{ cellvalue }}</textarea> {% endcomment %}
    {% comment %} <table id="data-table">

    </table> {% endcomment %}
    <script>

        var daq_host = "{{ daq_host }}"
        var parent_namespace = "{{ parent_namespace }}"
        var instrument_namespace = "{{ instrument_namespace }}"

        window.onload=init;

        var cellvalue = '1234.5';
        var meas_prefix = {{ instrument_prefix }}
        var measurements_json = {{ instrument_measurements }}
        var measurements = JSON.parse("{{ instrument_measurements | escapejs }}")

        var plot_app = JSON.parse("{{ plot_app | escapejs }}")
        var name = plot_app['name']
        var plots = document.getElementById('plot_container')
        url = "http://"+plot_app['host']+":"+plot_app['port']+plot_app['name']
        {% comment %} url = "http://test_this_out" {% endcomment %}
        {% comment %} url = plot_app['name'] {% endcomment %}
        {% comment %} plots.innerHTML = '<p>'+url+'</p>' {% endcomment %}
        {% comment %} url = 'http://localhost:5001/instrument_test_dummy' {% endcomment %}
        {% comment %} plots.innerHTML = '<iframe src='+url+' allowfullscreen></iframe>'  {% endcomment %}
        

        {% comment %} define accordions {% endcomment %}
        {% comment %} var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight){
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                } 
            });
        } {% endcomment %}
        
        var wait_for_setup = true;

        function init() {
            build_path()
            build_data_table()
            build_controls_table()
            build_rawdata_table()
            //setup_accordions()

            // reqest_status()
            wait_for_setup = false

        }

        function build_path() {
            console.log(window.location.host)
            var home = "http://"+window.location.host+"/"
            home = "/"
            var daq = home + "envdaq/"
            var server = daq + "daqserver/" + daq_host + "/" + parent_namespace +"/"

            var path = '<a href='+home+' style="text-decoration: none">Home</a> / '
            path += '<a href='+daq+' style="text-decoration: none">DAQ</a> / '
            path += 'DAQInstrument / ' + daq_host + " / " + parent_namespace + "/" + instrument_namespace
            //path += '<a href='+server+' style="text-decoration: none">'+daq_namespace+'</a>'
            var navpath = document.getElementById("instrument-navpath")
            navpath.innerHTML = path
            //navpath.appendChild(text)
            //console.log(navpath)
        };

        function build_data_table() {
            // var measurements = JSON.parse('{{ instrument_measurements | escapejs }}')
            // var tablediv = document.getElementById('meas-table')[0];
            var tablediv = document.getElementById('inst-data-table-div');

            var ts = document.createElement('p')
            ts.setAttribute("id", "time-stamp")
            ts.style.fontWeight = "bold"
            tablediv.appendChild(ts)

            var table = document.createElement('table');
            //table.setAttribute('id', 'data-table');
            table.setAttribute('id', 'meas-inst-data-table');
            //table.setAttribute('class', 'w3-table w3-striped w3-bordered')
            table.setAttribute('class', 'w3-table w3-striped w3-bordered')
            //table.setAttribute('style', 'border-collapse: collapse; border-radius: 10px; overflow: hidden')

            var caption = table.createCaption()
            caption.innerHTML = "<em>Data</em>"

            var header = table.createTHead();
            var row = header.insertRow(0);
            //row.setAttribute('style', 'border: 1px solid black')
            var cell = row.insertCell(0);
            cell.setAttribute("class", "w3-center")
            //cell.setAttribute('id', 'data-table-namecol');
            //cell.setAttribute('style', 'border: 1px solid black; text-align: center;')
            cell.innerHTML = "<b>Name</b>";
            cell = row.insertCell(1);
            cell.setAttribute("class", "w3-center")
            //cell.setAttribute('style', 'border: 1px solid black; text-align: center;')
            //cell.innerHTML = "Value";
            //cell.setAttribute('id', 'data-table-valuecol');
            cell.innerHTML = "<b>Value</b>"
            cell = row.insertCell(2);
            cell.setAttribute("class", "w3-center")
            //cell.setAttribute('style', 'border: 1px solid black; text-align: center;')
            cell.innerHTML = "<b>Units</b>";
            //cell.setAttribute('id', 'data-table-unitcol');

            for (var meastype in measurements) {
                if (meastype != "controls") {
                    //console.log(measurements[meastype])
                    mtype = measurements[meastype]
                    for (var meas in mtype) {
                        dims = mtype[meas]['dimensions']['axes']
                        if (mtype[meas]['dimensions']['axes'].length > 1) {
                            continue
                        }
                        var name = meas
                        if (meas_prefix) {
                            name = meas_prefix + "_" + meas
                        }
                        meas_id = meas.replace(/_/g, "-")
                        row = table.insertRow(-1);
                        cell = row.insertCell(0);
                        cell.setAttribute('id', (meas_id+'-name'));
                        cell.setAttribute("class", "w3-center")
                        //cell.setAttribute('style', 'border: 1px solid black; padding: 2px; text-align: center')
                        cell.innerHTML = name
                        cell = row.insertCell(1);
                        cell.setAttribute("class", "w3-center")
                        cell.setAttribute('id', (meas_id+'-value'));
                        //cell.setAttribute('style', 'border: 1px solid black; padding: 2px; text-align: center');
                        cell.innerHTML = '';         
                        cell = row.insertCell(2);           
                        cell.setAttribute('id', (meas_id+'-units'));
                        cell.setAttribute("class", "w3-center")
                        //cell.setAttribute('style', 'border: 1px solid black; padding: 2px; text-align: center');
                        cell.innerHTML = mtype[meas]['units']                    
                    }
                }
            }
            var td = table.rows[0].cells[0];
            td.width = '200px';
            td = table.rows[0].cells[1];
            td.width = '200px';
            td = table.rows[0].cells[2];
            td.width = '100px';
           
            tablediv.appendChild(table);
            

        }

        // change controls to be in "control groups" that are each an accordion to manage space
        function build_controls_table() {
            // var measurements = JSON.parse('{{ instrument_measurements | escapejs }}')
            // var tablediv = document.getElementById('meas-table')[0];
            // var tablediv = document.getElementById('controls-table');
            var tablediv = document.getElementById('inst-controls-table-div');
            
            var ops_container = document.createElement("div")
            ops_container.setAttribute("class", "w3-container w3-border w3-padding")
            var ops_button = document.createElement("button")
            ops_button.setAttribute("id", "start-stop-button")
            ops_button.setAttribute("class", "w3-button w3-round w3-border w3-cell")
            //ops_button.setAttribute("value", "Start")
            ops_button.setAttribute("onclick", "opsButtonRequest()")
            ops_button.value = "Start"
            ops_button.innerText = "Start"
            //ops_container.appendChild(ops_button)

            var button_text = document.createElement("label")
            //button_text.setAttribute("class", "w3-padding")
            button_text.setAttribute("for", "ops_button")
            button_text.appendChild(document.createTextNode("Instrument Control: "))
            //button_text.innerText = "Instrument Control: "
            ops_container.appendChild(button_text)
            ops_container.appendChild(ops_button)

            tablediv.appendChild(ops_container)
            //<div class="opsbutton-container">
            //    <input type="button" id="start-stop-button" value="Start" class="opsbutton stopped" onclick=opsButtonRequest(this)>
            //</div>

            var control_groups = []
            for (var meastype in measurements) {
                if (meastype == "controls") {
                    mtype = measurements[meastype]
                    // console.log(mtype)
                    for (var meas in mtype) {
                        var group_name = "default"
                        if ("control_group" in mtype[meas]) {
                            group_name = mtype[meas]["control_group"]
                            // console.log(mtype[meas]["control_group"])
                        }
                        var group_id = group_name.replace(/_/g, "-")
                        group_id = group_id.replace(/ /g, "-")
                        var group_box = document.getElementById('controls-group-box-'+group_id)
                        // console.log(group_box)
                        if (group_box == null) {
                            //console.log('controls-group-box-'+group_id)
                            group_box = document.createElement('div')
                            group_button = document.createElement('a')
                            //group_button.setAttribute('id', 'controls-group-box-'+group_id)
                            group_button.setAttribute('class', 'w3-block w3-button')
                            var fn_arg = 'controls-group-box-'+group_id+'-contents'
                            group_button.setAttribute('onclick', "doAccordion('controls-group-box-"+group_id+"-contents')" )
                            group_button.setAttribute('href', "javascript:void(0)")
                            group_button.innerHTML= "<em>Settings: "+group_name+"</em><i id='controls-group-box-"+group_id+"-contents-icon' style='position:relative;left:10px;vertical-align:middle;' class='material-icons'>expand_more</i>"
                            group_box.appendChild(group_button)
                            group_contents = document.createElement('div')
                            group_contents.setAttribute('id', 'controls-group-box-'+group_id+'-contents')
                            group_contents.setAttribute("class", "w3-hide")
                            //group_box.appendChild(group_close)

                            //group_box.setAttribute('class', 'card')
                            //group_button = document.createElement('button')
                            //group_button.setAttribute('id', 'controls-group-box-'+group_id)
                            //group_button.setAttribute('class', 'accordion card')
                            //group_button.innerHTML = '<em>Settings: '+group_name+'</em>'
                            
                            //var panel = document.createElement('div')
                            //panel.setAttribute('class', 'panel')
                            control_groups.push(group_id)

                            //console.log(group_box)
                            //var table = document.getElementById('controls-group-table-'+group_id)
                            // console.log('controls-group-table-'+group_id)                            
                            table = document.createElement('table')
                            table_id = 'controls-group-table-'+group_id
                            table.setAttribute('id', table_id)
                            //table.setAttribute('style', 'border-collapse: collapse;')
                            table.setAttribute('class', 'w3-table w3-striped w3-bordered')

                            var caption = table.createCaption()
                            caption.innerHTML = "<em>Settings</em>"
                        

                            var header = table.createTHead();
                            var row = header.insertRow(0);
                            row.setAttribute('style', 'border: 1px solid black')
                            var cell = row.insertCell(0);
                            cell.setAttribute("class", "w3-center")
                            //cell.setAttribute('id', table_id+'-namecol');
                            //cell.setAttribute('style', 'border: 1px solid black; text-align: center;')
                            cell.innerHTML = "<b>Name</b>";
                            cell = row.insertCell(1);
                            cell.setAttribute("class", "w3-center")
                            //cell.setAttribute('style', 'border: 1px solid black; text-align: center;')
                            cell.innerHTML = "<b>Value</b>";
                            //cell.setAttribute('id', table_id+'-valuecol');
                            //cell.innerHTML = "Value"
                            cell = row.insertCell(2);
                            cell.setAttribute("class", "w3-center")
                            //cell.setAttribute('style', 'border: 1px solid black; text-align: center;')
                            cell.innerHTML = "<b>Setting</b>";
                            //cell.setAttribute('id', table_id+'-settingcol');
                            cell = row.insertCell(3);
                            cell.setAttribute("class", "w3-center")
                            //cell.setAttribute('style', 'border: 1px solid black; text-align: center;')
                            cell.innerHTML = "";
                            cell.setAttribute('id', table_id+'-setbuttoncol');

                            var td = table.rows[0].cells[0];
                            td.width = '200px';
                            td = table.rows[0].cells[1];
                            td.width = '100px';
                            td = table.rows[0].cells[2];
                            td.width = '100px';
                            td = table.rows[0].cells[3];
                            td.width = '100px'
                            //panel.appendChild(table)
                            group_contents.appendChild(table)
                            group_box.appendChild(group_contents)
                            //group_box.appendChild(group_button)
                            //group_box.appendChild(group_box)
                            //group_box.appendChild(panel)
                            //group_box.appendChild(panel)
                            tablediv.appendChild(group_box);
                        }
                        
                        table = document.getElementById('controls-group-table-'+group_id)
                    
                        var rng_min = 0
                        var rng_max = 65000
                        if ("allowed_range" in mtype[meas]) {
                            var rng = mtype[meas]["allowed_range"]
                            rng_min = rng[0]
                            rng_max = rng[1]
                            //console.log(rng)
                        }
                        //console.log(rng_min, rng_max)
                        var name = meas
                        if (meas_prefix) {
                            name = meas_prefix + "_" + meas
                        }

                        //console.log(name)
                        meas_id = meas.replace(/_/g, "-")
                        // prefix_id = prefix.replace(/_/g, "-")
                        row = table.insertRow(-1);
                        cell = row.insertCell(0);
                        cell.setAttribute('id', (meas_id+'-name'));
                        cell.setAttribute('style', 'border: 1px solid black; padding: 2px; text-align: center')
                        cell.innerHTML = name
                        cell = row.insertCell(1);
                        cell.setAttribute('id', (meas_id+'-value'));
                        cell.setAttribute('style', 'border: 1px solid black; padding: 2px; text-align: center');
                        cell.innerHTML = '';         
                        cell = row.insertCell(2);           
                        cell.setAttribute('id', (meas_id+'-input'));
                        cell.setAttribute('style', 'border: 1px solid black; padding: 2px; text-align: center');
                        cell.innerHTML = '<input id='+meas_id+'-setting-input type=number min='+rng_min+' max='+rng_max+' step=any>'                                
                        cell = row.insertCell(3);           
                        cell.setAttribute('id', (meas_id+'-setting-set'));
                        cell.setAttribute('style', 'border: 1px solid black; padding: 2px; text-align: center');
                        cell.innerHTML = 
                            '<input id='+meas_id+'-setting-button type=button value="apply" onclick="apply_setting(this)">'                  
                    }
                }
            }

           //var t = document.getElementById("control-table").createCaption()
           //t.innerHTML = "Settings"
        }


        function build_rawdata_table() {
            // var measurements = JSON.parse('{{ instrument_measurements | escapejs }}')
            // var tablediv = document.getElementById('meas-table')[0];
            // var tablediv = document.getElementById('controls-table');
            var tablediv = document.getElementById('inst-rawdata-table-div');
            
            var group_box = document.createElement('div')
            group_button = document.createElement('a')
            //group_button.setAttribute('id', 'controls-group-box-'+group_id)
            group_button.setAttribute('class', 'w3-block w3-button')
            group_button.setAttribute('onclick', "doAccordion('inst_rawdata-box-metadata-contents')" )
            group_button.setAttribute('href', "javascript:void(0)")
            group_button.innerHTML= "<em>Raw Data: Metadata</em><i id='inst_rawdata-box-metadata-contents-icon' style='position:relative;left:10px;vertical-align:middle;' class='material-icons'>expand_more</i>"
            group_box.appendChild(group_button)
            group_contents = document.createElement('div')
            group_contents.setAttribute('id', 'inst_rawdata-box-metadata-contents')
            group_contents.setAttribute("class", "w3-hide")
            var metadata = document.createElement("textarea")
            metadata.setAttribute("id", "metadata-window")
            metadata.setAttribute("class", "w3-border w3-round w3-code")
            metadata.style.width = "100%"
            metadata.rows = 10

            group_contents.appendChild(metadata)
            group_box.appendChild(group_contents)
            tablediv.appendChild(group_box)

            var group_box = document.createElement('div')
            group_button = document.createElement('a')
            //group_button.setAttribute('id', 'controls-group-box-'+group_id)
            group_button.setAttribute('class', 'w3-block w3-button')
            group_button.setAttribute('onclick', "doAccordion('inst_rawdata-box-data-contents')" )
            group_button.setAttribute('href', "javascript:void(0)")
            group_button.innerHTML= "<em>Raw Data: Data</em><i id='inst_rawdata-box-data-contents-icon' style='position:relative;left:10px;vertical-align:middle;' class='material-icons'>expand_more</i>"
            group_box.appendChild(group_button)
            group_contents = document.createElement('div')
            group_contents.setAttribute('id', 'inst_rawdata-box-data-contents')
            group_contents.setAttribute("class", "w3-hide")
            var metadata = document.createElement("textarea")
            metadata.setAttribute("id", "data-window")
            metadata.setAttribute("class", "w3-border w3-round w3-code")
            metadata.style.width = "100%"
            metadata.rows = 10

            group_contents.appendChild(metadata)
            group_box.appendChild(group_contents)
            tablediv.appendChild(group_box)

        }

        // websocket communication

        {% comment %} var instrument_name = {{ instrument_name }}
        var parent_namespace = {{ parent_namespace }}
        //var daq_namespace = {{ daq_namespace }}
        //var controller_namespace = {{ controller_namespace }}
        var instrument_namespace = {{ instrument_namespace }} {% endcomment %}

        var websocket = new WebSocket(
            'ws://' + window.location.host +
            // '/ws/envdaq/instrument/'+instrument_name+'/'); 
            // '/ws/envdaq/'+daq_namespace+'/'+controller_namespace+'/instrument/'+instrument_namespace+'/');
            '/ws/envdaq/'+daq_host+'/'+parent_namespace+'/instrument/'+instrument_namespace+'/');


        var run_status = "UNKNOWN"

        websocket.onmessage = function(e) {

            // {% comment %} if (document.querySelector('#data-table') == null) { {% endcomment %}
            // {% comment %} if (document.getElementById('data-data-table') == null) {
            //    build_data_table();
            // }; {% endcomment %}

            var data = JSON.parse(e.data);
            //console.log(data['message'])
            if (data['message']['SUBJECT'] == 'DATA') {

                if ("METADATA" in data['message']['BODY']) {
                    var message = data['message']['BODY']['METADATA'];
                    //document.querySelector('#metadata-window').value = (JSON.stringify(data['message']['BODY']['METADATA']) + '\n');
                    document.querySelector('#metadata-window').innerHTML = (JSON.stringify(data['message']['BODY']['METADATA']) + '\n');
                }
                if ('DATA' in data['message']['BODY']) {
                    var message = data['message']['BODY']['DATA'];
                    // document.querySelector('#data-window').value = (JSON.stringify(data['message']['BODY']['DATA']) + '\n');
                    document.querySelector('#data-window').innerHTML = (JSON.stringify(data['message']['BODY']['DATA']) + '\n');

                    document.querySelector('#time-stamp').innerHTML =  (message['DATETIME'].replace(/T|Z/g, " "));

                    // console.log(message['MEASUREMENTS'])
                    var cell_value = ''
                    for (var meas in message['MEASUREMENTS']) {
                        if (message['MEASUREMENTS'][meas]['VALUE'] == null) {
                            //cell_value = ''
                            continue
                            // cell_value = message['MEASUREMENTS'][meas]['VALUE'];
                        }
                        // console.log(meas);
                        // console.log(message['MEASUREMENTS'][meas]['VALUE'])
                        if (message['MEASUREMENTS'][meas]['VALUE'].constructor === Array) {
                            continue
                        }
                        cell_id = (meas+"-value").replace(/_/g, "-")
                        document.getElementById(cell_id).innerHTML = message['MEASUREMENTS'][meas]['VALUE'];
                    }
                }

            } else if (data['message']['SUBJECT'] == "SETTINGS") {
                //console.log("settings")
                //console.log(data['message']['BODY'])

                if ('settings' in data['message']['BODY']) {
                    var settings = data['message']['BODY']['settings'];
                    var cell_value = ''
                    for (var setting in settings) {
                        if (setting == null) {
                            continue
                        }
                        value_id = (setting+"-value").replace(/_/g, "-")
                        input_id = (setting+"-setting-input").replace(/_/g, "-")
                        document.getElementById(value_id).innerHTML = settings[setting];
                        document.getElementById(input_id).setAttribute('value', settings[setting]);
                    }
                }
            } else if (data['message']['SUBJECT'] == 'STATUS') {

                // if (data['message']['BODY']['purpose'] == 'UPDATE') {
                if (data.message.BODY.purpose == 'UPDATE') {
                    console.log(JSON.stringify(data.message.BODY.status))
                    var status = data.message.BODY.status
                    update_status(status)
                }
            }
        };

        websocket.onopen = function(event) {
            console.log('Connected to: ' + event.currentTarget.url)
            //while (wait_for_setup) {}
            console.log('setup done')
            
            request_status()
        };

        {% comment %} document.querySelector('#inst-name-input').focus();
        document.querySelector('#inst-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#inst-name-submit').click();
            }
        };

        document.querySelector('#inst-name-submit').onclick = function(e) {
            var instName = document.querySelector('#inst-name-input').value;
            window.location.pathname = '/envdaq/' + instName + '/';
        }; {% endcomment %}

        {% comment %} document.querySelector('#req-meta-button').onclick = function(e) {
            var message = {
                'TYPE': 'DISPLAY',
                'SUBJECT': 'REQUEST',
                'BODY': 'SEND_METATDATA'
                };
            websocket.send(JSON.stringify({
            'message': message
            }));

        }; {% endcomment %}

        function apply_setting(control) {
            console.log(control)
            //var index = control.id.indexOf("-")
            //console.log(index)
            //if (index<0) {
            //    return
            //}
            var id = control.id.split('-')
            id.splice(-2,2)
            var control = id.join("-")
            //console.log(id.join("-"))
            //id = control.id.split("-").splice(-2,2).join("-")
            //console.log(id)
            //var control = control.id.substring(0,index)
            setpoint = document.getElementById(control+'-setting-input').value
            control = control.replace(/-/g, "_")
            console.log(control)
            console.log(setpoint)
            var message = {}
            message['SUBJECT'] = 'CONTROLS'
            message['BODY'] = {
                'purpose': 'REQUEST',
                'control': control,
                'value': setpoint,
            }
            console.log(message)
            
            websocket.send(
                JSON.stringify({'message': message})
            )

        }

        function request_status() {

            var message = {}
            message['SUBJECT'] = 'STATUS'
            message['BODY'] = {
                'purpose': 'REQUEST',
           }

            websocket.send(
                JSON.stringify({'message': message})
            )

        }

        function update_status(status) {
            runstate = status.run_status
            opsButtonSet(runstate)
            document.getElementById("status-window").value = JSON.stringify(status)
            //document.getElementById("status-window").innerHTML = JSON.stringify(status)
        }
 

        function opsButtonRequest() {
            button = document.getElementById('start-stop-button')
            //var req = button.value
            var req = "STOP"
            if (button.value == "Start") {
                req = "START"
            } 
            console.log(req)
            var message = {}
            message['SUBJECT'] = 'RUNCONTROLS'
            message['BODY'] = {
                'purpose': 'REQUEST',
                'control': 'start_stop',
                'value': req,
            }

            websocket.send(
                JSON.stringify({'message': message})
            )

        }

        function opsButtonSet(runstate) {
            button = document.getElementById('start-stop-button')

            //var class_val = 'opsbutton started'
            var value = "Stop"

        if (runstate == "STOPPED" || runstate == "READY_TO_RUN") {
                //class_val = 'opsbutton stopped'
                value = "Start"
            }
            button.value = value
            button.innerText = value
            //button.className = class_val
        }

    </script>

{% endblock extracontent %}